.m_carosole_img_box{
    height: 360px;
    margin: 0 12px;
    padding: 2px;
}
.m_carosole_img_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* .m_multi_movies_carsole .react-multiple-carousel__arrow--right{
    right: calc(0% + 1px);
    background: rgb(134 134 134 / 80%) !important;
} */