input::placeholder{
    color: #808080;
    font-size: 14px;
}

.m_bg_pinkish{
    background:  #F84464 !important;
}
.m_sign_in:hover{
    background:  #f84464 !important;
   border: 1px solid #f84464;
}

.m_bottom ul {
    list-style: none;
 margin: 0px;
 padding: 0;
}

.m_bottom ul a{
    color: black;
    text-decoration: none;
}
.m_bottom ul a.active{
    color: #F84464 !important; 
}
.m_bottom ul span{
    font-weight: 300;
    font-size: 12px;
    }
    


.m_h7{
font-size: 7px;
}

.m_h8{
    font-size: 8px;
 }

.m_h9{
    font-size: 9px;
}
.m_h10{
    font-size: 10px;
}
.m_h11{
    font-size: 11px;
}
.m_h12{
    font-size: 12px;
}
.m_h13{
    font-size: 13px;
}
.m_h14{
    font-size: 14px;
}
.m_h15{
    font-size: 15px;
}
.m_h17{
    font-size: 17px;
}
.m-mg_dark{
    background: #313035;
}
.m_btn_pink{
    background: #f84464;
}
.m_bg_dark2{
    background:#404043
}
.m_background{
    background-color: #333338;
}
.m_border{
    border-top: 1px solid #868686;
    width: 96%;
    margin: auto;
    padding: 10px 0px;
}
.m_bottom_logo{
    top:-80% !important
}
.m_text_pinkish{
    color:  #F84464;
}
.m_cursor_pointer{
    cursor: pointer;
}
.m_user_select_none{
    user-select: none;
}
.m_border_pinkish{
    border: px solid #F84464;
}
.m_sticky{
    position: sticky;
    height: max-content;
    top: 0;
}