.m_promoted{
    background-size: cover !important;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.m_promoted_Forground{
    background: rgb(0, 0, 0);
    height: 100% !important;
    background: linear-gradient(95deg, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 100%);
}
.m_promoted_imgbox{
    height: 100%px;
    width: 100%;
    padding: 15px;
}
.m_promoted_imgbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.m_promoted_main_forground_content .m_discription{
    line-height: 25px;
}
.m_promoted_main_forground_content .m_play_icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  color: red;
}
.m_promoted_main_forground_content .m_premier{
    letter-spacing: 1px;
    font-weight: 400;
 }
