.m_promoted_banner_main{
    background-size: cover !important;
    width: 100%;
    background-repeat:no-repeat !important;
    background-position: center !important;
}
.m_prooted_banner_forground{
    background: rgb(0, 0, 0);
    height: 100% !important;
    background: linear-gradient(95deg, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 100%);
}
.m_prooted_banner_forground .m_promoted_img_box{
    height: 440px;
    width: 100%;
    padding: 15px;
}
.m_prooted_banner_forground .m_promoted_img_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.m_play_icon{
    color: red;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m_premier{
    font-weight: 400;
    letter-spacing: 1px;
}
.m_discription{
    line-height: 25px;
    font-weight: 400;
}