.m_text_color{
    color: #9AA5A5;
}
.m_text_color2{
    color:#747878 ;
    
}

 .m_text_color:hover{
    color: white;
} 
.m_menulinks:hover{
    color: white;
}
.m_service_box{
    opacity: 0.5;
}
.m_service_box{
    cursor: pointer;
}
.m_service_box:hover{
    opacity: 2;
}
/* .m_icon_cont{
    margin: auto;
} */
.m_icons{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background:#868686;
    color: 333338;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m_icons:hover{
    opacity: 1;
    cursor: pointer;
}
.m_copyright{
margin: auto;
padding: 15px 0px;
}
.m_copyright{
    margin: 0;
}
.m_footer_img{
    height: 50px;
    width: 50px;
    margin: auto;
}